/*------------------------------------------------------------*/
/* Grid styles
/*------------------------------------------------------------*/

.grid .view-content,
.grid .grid-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;	
    margin: 0 -1rem;
}

.grid-item {
	padding: 0 1rem 2rem 1rem;
}

.grid.no-gaps .view-content,
.grid.no-gaps .grid-content {
	margin: 0;
}

.grid.no-gaps .grid-item {
	padding: 0;
}

/* Extra large */ 

@media (min-width: 1200px) {

    .grid-xl-7-cols .grid-item {
        -webkit-flex: 0 0 14.285714%;
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%;
    }
    
    .grid-xl-6-cols .grid-item {
        -webkit-flex: 0 0 16.666666%;
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%; 
        max-width: 16.666666%; 
    }
    
    .grid-xl-5-cols .grid-item {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; 
        max-width: 20%;	
    }
    
    .grid-xl-4-cols .grid-item {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; 
        max-width: 25%;	
    }
    
    .grid-xl-3-cols .grid-item {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
    }
    
    .grid-xl-2-cols .grid-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;	
    }

}

/* Large */

@media (min-width: 992px) and (max-width: 1199px) {

    .grid-lg-7-cols .grid-item {
        -webkit-flex: 0 0 14.285714%;
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%;
    }
    
    .grid-lg-6-cols .grid-item {
        -webkit-flex: 0 0 16.666666%;
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%; 
        max-width: 16.666666%; 
    }
    
    .grid-lg-5-cols .grid-item {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; 
        max-width: 20%;	
    }
    
    .grid-lg-4-cols .grid-item {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; 
        max-width: 25%;	
    }
    
    .grid-lg-3-cols .grid-item {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
    }
    
    .grid-lg-2-cols .grid-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;	
    }

}

/* Medium */

@media (min-width: 768px) and (max-width: 991px) {

    .grid-md-7-cols .grid-item {
        -webkit-flex: 0 0 14.285714%;
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%;
    }
        
    .grid-md-6-cols .grid-item {
        -webkit-flex: 0 0 16.666666%;
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%; 
        max-width: 16.666666%; 
    }
    
    .grid-md-5-cols .grid-item {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; 
        max-width: 20%;	
    }
    
    .grid-md-4-cols .grid-item {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; 
        max-width: 25%;	
    }
    
    .grid-md-3-cols .grid-item {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
    }
    
    .grid-md-2-cols .grid-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;	
    }

}

/* Small */

@media (min-width: 576px) and (max-width: 767px) { 

    .grid-sm-7-cols .grid-item {
        -webkit-flex: 0 0 14.285714%;
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%;
    }
        
    .grid-sm-6-cols .grid-item {
        -webkit-flex: 0 0 16.666666%;
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%; 
        max-width: 16.666666%; 
    }

    .grid-sm-5-cols .grid-item {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; 
        max-width: 20%;	
    }
    
    .grid-sm-4-cols .grid-item {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; 
        max-width: 25%;	
    }
    
    .grid-sm-3-cols .grid-item {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
    }
    
    .grid-sm-2-cols .grid-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;	
    }
    
    .grid-sm-1-col .grid-item {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: none;	
    }

}

/* Extra small */

@media (max-width: 575px) {	

    .grid-xs-7-cols .grid-item {
        -webkit-flex: 0 0 14.285714%;
        -ms-flex: 0 0 14.285714%;
        flex: 0 0 14.285714%;
        max-width: 14.285714%;
    }
        
    .grid-xs-6-cols .grid-item {
        -webkit-flex: 0 0 16.666666%;
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%; 
        max-width: 16.666666%; 
    }
	
    .grid-xs-5-cols .grid-item {
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%; 
        max-width: 20%;	
    }
    
    .grid-xs-4-cols .grid-item {
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; 
        max-width: 25%;	
    }
    
    .grid-xs-3-cols .grid-item {
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;	
    }
    
    .grid-xs-2-cols .grid-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;	
    }
    
    .grid-xs-1-col .grid-item {
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        max-width: none;	
    }

}